@model IEnumerable<AnuSrii.Models.EmployeeDetails>

@{
    ViewBag.Title = "Details";
}
<head>
    <link rel="stylesheet" href="~/Content/Details.css">
</head>

<div class="hadding">
    <h2>Students Details</h2>
</div>

<div class="create1">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
<div class="back">
    @Html.ActionLink("Go Back", "Welcome")
</div>

<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@

        <th>
            |  @Html.DisplayNameFor(model => model.Name)  |
        </th>

        <th>
            |  @Html.DisplayNameFor(model => model.Email)  |
        </th>

        <th>
            |  @Html.DisplayNameFor(model => model.Address)    |
        </th>

        <th>
            |  @Html.DisplayNameFor(model => model.Age)  |
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>*@

            <td>
                | @Html.DisplayFor(modelItem => item.Name)     |
            </td>

            <td>
                | @Html.DisplayFor(modelItem => item.Email)    |
            </td>

            <td>
                | @Html.DisplayFor(modelItem => item.Address)     |
            </td>
            <td>
                | @Html.DisplayFor(modelItem => item.Age)      |
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>*@

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Detail", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


