@model AnuSrii.Models.ForLogin

@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="~/Content/Index.css">
</head>

<div class="hadding">
    <h2>This Is My LoginPage</h2>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<div class="for-img">
    <img src="~/Content/man.png" alt="annu">
</div>
    <div class="form-horizontal">
        <div class="master1">
            @*<hr />*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="LOGIN" class="btn-default" /> <br /><br />
                    @ViewData["mmm"]
                </div>
            </div>
        </div>
    </div>
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
